@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s linear;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.breadcrumbs {
  padding: 20px 0 23px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.breadcrumbs li a {
  color: #8b8b8b;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}

.article-info {
  display: flex;
  font-size: 14px;
  color: #8b8b8b;
}
.article-info .info-date,
.article-info .info-read {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.article-info .info-date:after,
.article-info .info-read:after {
  content: "●";
  font-size: 5px;
  color: #8b8b8b;
  margin-left: 8px;
  margin-top: -2px;
}
.article-info .info-tag {
  background: #f8f8f8;
  padding: 6px 11px 4px;
  border-radius: 30px;
  color: #8b8b8b;
}
.article-info .info-tag:hover {
  background: whitesmoke;
}

.blog-page__header {
  padding-bottom: 10px;
}
.blog-page__header .page-title {
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.blog-page__header .page-subtitle {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #8b8b8b;
  margin-top: 10px;
}
.blog-page__main {
  padding-bottom: 80px;
}
.blog-page__main .content-center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-page__main-left {
  width: 745px;
  margin-right: 49px;
}
.blog-page__main-left-title {
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.blog-page__main-left-panel {
  margin-top: 20px;
  display: flex;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  color: #8b8b8b;
}
.blog-page__main-left-panel .date {
  margin-right: 10px;
}
.blog-page__main-left-panel .views:before {
  content: "";
  background: url("../img/view-icon.svg") no-repeat 0 0/contain;
  width: 17px;
  height: 13px;
  display: inline-block;
  vertical-align: top;
  margin: 1px 6px 0 0;
}
.blog-page__main-left-img {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
}
.blog-page__main-left-description {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  color: #8b8b8b;
  margin: 21px 0 50px;
}
.blog-page__main-left .blog-txt {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #8b8b8b;
  margin-bottom: 30px;
}
.blog-page__main-left .blog-txt span {
  color: #149E4C;
}
.blog-page__main-left .blog-txt-title {
  font-size: 28px;
  line-height: 32px;
  color: #050A0A;
  margin-bottom: 12px;
}
.blog-page__main-left .blog-list {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #8b8b8b;
  margin-left: 35px;
}
.blog-page__main-left .blog-list li {
  list-style-type: disc;
  margin-bottom: 12px;
}
.blog-page__main-left .decimal li {
  list-style-type: decimal;
}
.blog-page__main-left .tags {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.blog-page__main-left .tags__title {
  font-size: 16px;
  color: #050A0A;
  margin-right: 17px;
}
.blog-page__main-left .tags__list {
  display: flex;
  flex-wrap: wrap;
}
.blog-page__main-left .tags__list-item {
  font-size: 14px;
  background: #f8f8f8;
  padding: 6px 11px 4px;
  border-radius: 30px;
  color: #8b8b8b;
  margin-right: 10px;
}
.blog-page__main-left .tags__list-item:hover {
  background: whitesmoke;
}
.blog-page__main-left .top-casino {
  padding: 0;
  margin: 30px 0 50px;
  text-align: left;
}
.blog-page__main-left .top-casino__head {
  display: flex;
  padding: 10px 0 10px 20px;
}
.blog-page__main-left .top-casino__head-item {
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 12px;
  color: #8b8b8b;
  text-transform: uppercase;
}
.blog-page__main-left .top-casino__head-item:nth-child(1) {
  width: 44%;
}
.blog-page__main-left .top-casino__head-item:nth-child(2) {
  width: auto;
}
.blog-page__main-left .top-casino__list {
  margin-top: 0;
  padding: 0;
}
.blog-page__main-left .top-casino__list-item {
  border-bottom: 1px solid #ebebeb;
  padding: 25px 0 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-page__main-left .top-casino__name {
  display: flex;
  align-items: center;
  width: 225px;
  max-width: 260px;
}
.blog-page__main-left .top-casino__name-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-page__main-left .top-casino__name-wrap {
  margin-left: 20px;
}
.blog-page__main-left .top-casino__name-title {
  font-size: 20px;
  color: #050A0A;
  letter-spacing: -0.02em;
}
.blog-page__main-left .top-casino__name-icons {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.blog-page__main-left .top-casino__name-icons-country {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;
}
.blog-page__main-left .top-casino__name-icons .country-in {
  background: url("../img/country-in.svg") no-repeat 0 0/contain;
}
.blog-page__main-left .top-casino__name-icons .country-ua {
  background: url("../img/country-ua.svg") no-repeat 0 0/contain;
}
.blog-page__main-left .top-casino__name-icons .country-fr {
  background: url("../img/country-fr.svg") no-repeat 0 0/contain;
}
.blog-page__main-left .top-casino__name-icons .country-ge {
  background: url("../img/country-gr.svg") no-repeat 0 0/contain;
}
.blog-page__main-left .top-casino__name-icons-rate {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 3px;
}
.blog-page__main-left .top-casino__name-icons-rate:before {
  content: "";
  mask-image: url("../img/star.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #FFB933;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin: -1px 8px 0 0;
}
.blog-page__main-left .top-casino__name-icons .no-rating:before {
  background-color: #BFBFBF;
}
.blog-page__main-left .top-casino__bonus {
  width: 214px;
}
.blog-page__main-left .top-casino__bonus p {
  font-size: 18px;
  color: #050A0A;
}
.blog-page__main-left .top-casino__bonus p + p {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 9px;
}
.blog-page__main-left .top-casino__bonus-mob {
  display: none;
}
.blog-page__main-left .top-casino .bonus-na .top-casino__bonus-desk p {
  font-size: 18px;
  line-height: 23px;
  color: #8b8b8b;
}
.blog-page__main-left .top-casino .bonus-na .top-casino__bonus-desk p + p {
  display: none;
}
.blog-page__main-left .top-casino .bonus-na .top-casino__bonus-mob p {
  font-size: 14px;
  line-height: 18px;
}
.blog-page__main-left .top-casino .bonus-na .top-casino__bonus-mob p + p {
  display: none;
}
.blog-page__main-left .top-casino__buttons {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.blog-page__main-left .top-casino__buttons-play {
  padding: 12px 20px 11px;
}
.blog-page__main-left .quote {
  background: #f8f8f8;
  padding: 31px 31px 31px;
  margin-top: 40px;
}
.blog-page__main-left .quote__author {
  display: flex;
  align-items: center;
}
.blog-page__main-left .quote__author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-page__main-left .quote__author-txt {
  margin-left: 16px;
}
.blog-page__main-left .quote__author-txt-name {
  font-size: 16px;
  color: #050A0A;
}
.blog-page__main-left .quote__author-txt-sub {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 0;
}
.blog-page__main-left .quote__text {
  font-family: Gilroy-Regular, sans-serif;
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
}
.blog-page__main-left-how {
  margin-top: 40px;
}
.blog-page__main-left .written {
  margin-top: 40px;
  padding: 25px 0;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: space-between;
}
.blog-page__main-left .written__left {
  width: 70%;
  display: flex;
}
.blog-page__main-left .written__img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.blog-page__main-left .written__txt {
  margin-left: 15px;
}
.blog-page__main-left .written__txt-title {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  color: #8b8b8b;
}
.blog-page__main-left .written__txt-name {
  font-size: 16px;
  color: #050A0A;
  margin-top: 6px;
}
.blog-page__main-left .written__txt-text {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  margin-top: 6px;
}
.blog-page__main-left .written__btn {
  padding: 14px 30px 12px;
}
.blog-page__main-left .reactions {
  margin-top: 50px;
}
.blog-page__main-left .reactions__title {
  font-size: 18px;
  color: #050A0A;
}
.blog-page__main-left .reactions__list {
  margin-top: 27px;
  display: flex;
}
.blog-page__main-left .reactions__list-item {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #F6F6F6;
  border: 1px solid #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
}
.blog-page__main-left .reactions__list-item:last-child {
  margin-right: 0;
}
.blog-page__main-left .reactions__list-item:hover {
  border-color: #149E4C;
}
.blog-page__main-left .reactions__list-item:before {
  content: "";
  width: 31px;
  height: 31px;
}
.blog-page__main-left .reactions__list .reaction-1:before {
  background: url("../img/reaction-1.png") no-repeat 0 0/contain;
}
.blog-page__main-left .reactions__list .reaction-2:before {
  background: url("../img/reaction-2.png") no-repeat 0 0/contain;
}
.blog-page__main-left .reactions__list .reaction-3:before {
  background: url("../img/reaction-3.png") no-repeat 0 0/contain;
}
.blog-page__main-left .reactions__list .reaction-4:before {
  background: url("../img/reaction-4.png") no-repeat 0 0/contain;
}
.blog-page__main-left .reactions__list .reaction-5:before {
  background: url("../img/reaction-5.png") no-repeat 0 0/contain;
}
.blog-page__main-right {
  width: 32%;
  margin-top: 4px;
}
.blog-page__main-right-title {
  font-size: 18px;
  color: #050A0A;
}
.blog-page__main-right-pagi {
  margin-top: 30px;
  display: flex;
  border-bottom: 1px solid #E9E9E9;
}
.blog-page__main-right-pagi .pagi-item {
  font-size: 16px;
  color: #8b8b8b;
  padding-bottom: 22px;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
  cursor: pointer;
}
.blog-page__main-right-pagi .pagi-item:hover {
  border-color: #149E4C;
}
.blog-page__main-right-pagi .active {
  border-color: #149E4C;
}
.blog-page__main-right-item {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E9E9E9;
}
.blog-page__main-right-item:last-child {
  border-bottom: 0;
}
.blog-page__main-right-img {
  width: 98px;
  height: 59px;
  flex-shrink: 0;
  margin-right: 20px;
}
.blog-page__main-right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-page__main-right-txt {
  font-size: 16px;
  line-height: 22px;
  color: #050A0A;
}
.blog-page__main-right-txt:hover {
  text-decoration: underline;
}
.blog-page__main-right-wrap {
  margin-top: 30px;
}
.blog-page__main-right .author {
  background: #F6F6F6;
  padding: 30px;
  border-radius: 2px;
}
.blog-page__main-right .author__wrap {
  display: flex;
  align-items: center;
}
.blog-page__main-right .author__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}
.blog-page__main-right .author__info-name {
  font-size: 16px;
  color: #050A0A;
}
.blog-page__main-right .author__info-txt {
  margin-top: 3px;
  font-size: 14px;
  color: #8b8b8b;
}
.blog-page__main-right .author__text {
  margin-top: 17px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
}
.blog-page__main-right .author__btn {
  margin-top: 19px;
  padding: 13px 30px 12px;
}
.blog-page__main-right-subscribe {
  background: #F6F6F6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-radius: 2px;
}
.blog-page__main-right-subscribe-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-page__main-right-subscribe-wrap {
  text-align: center;
}
.blog-page__main-right-subscribe .subscribe {
  background: transparent;
}
.blog-page__main-right-subscribe .subscribe__title {
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
  margin-top: 25px;
  font-family: Gilroy-Medium, sans-serif;
}
.blog-page__main-right-subscribe .subscribe__form {
  margin-top: 14px;
}
.blog-page__main-right-subscribe .subscribe__form input[type=email] {
  width: 100%;
  height: 44px;
}
.blog-page__main-right-subscribe .subscribe__form .green-btn {
  width: 100%;
  margin-top: 12px;
  font-size: 12px;
  padding: 14px 53px 14px;
  border: none;
}
.blog-page__main-right-subscribe .subscribe__form .privacy {
  font-size: 12px;
  margin-top: 15px;
}
.blog-page__main-right-subscribe .subscribe__form .privacy a {
  color: #8b8b8b;
  text-decoration: underline;
}
.blog-page__main-right-subscribe .subscribe__form .privacy a:hover {
  text-decoration: none;
}

.blog-pagi {
  margin: 80px 0 0;
  width: 100%;
  height: 150px;
}
.blog-pagi .content-center {
  display: flex;
  height: 100%;
}
.blog-pagi__prev, .blog-pagi__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f8f8f8;
  width: 50%;
  position: relative;
}
.blog-pagi__prev:hover, .blog-pagi__next:hover {
  background: #F4F4F4;
}
.blog-pagi__prev:hover .blog-pagi__prev-wrap:before,
.blog-pagi__prev:hover .blog-pagi__next-wrap:before, .blog-pagi__next:hover .blog-pagi__prev-wrap:before,
.blog-pagi__next:hover .blog-pagi__next-wrap:before {
  background-color: #050A0A;
}
.blog-pagi__prev:hover .blog-pagi__prev-link,
.blog-pagi__prev:hover .blog-pagi__next-link, .blog-pagi__next:hover .blog-pagi__prev-link,
.blog-pagi__next:hover .blog-pagi__next-link {
  color: #149E4C;
}
.blog-pagi__prev-wrap, .blog-pagi__next-wrap {
  position: relative;
}
.blog-pagi__prev-wrap:before, .blog-pagi__next-wrap:before {
  content: "";
  mask-image: url("../img/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 8px;
  height: 12px;
  background-color: #BFBFBF;
  position: absolute;
  top: 13px;
}
.blog-pagi__prev-title, .blog-pagi__next-title {
  font-size: 14px;
  color: #8b8b8b;
}
.blog-pagi__prev-link, .blog-pagi__next-link {
  font-size: 21px;
  color: #050A0A;
  margin-top: 5px;
  display: inline-block;
}
.blog-pagi__prev {
  padding-left: 131px;
}
.blog-pagi__prev-wrap:before {
  left: -30px;
  transform: rotate(180deg);
}
.blog-pagi__next {
  text-align: right;
  padding-right: 131px;
}
.blog-pagi__next-wrap:before {
  right: -30px;
}

.similar {
  background: #f8f8f8;
  padding: 80px 0 74px;
  text-align: center;
}
.similar__title {
  font-family: Otomarine, sans-serif;
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
}
.similar__subtitle {
  margin: 15px auto 0;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  width: 60%;
}
.similar__list {
  margin-top: 40px;
  display: flex;
  text-align: left;
}
.similar__list-item {
  width: 24%;
  margin-right: 20px;
}
.similar__list-item:nth-child(4n) {
  margin-right: 0;
}
.similar__list-item-title {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
  display: inline-block;
}
.similar__list-item-title:hover {
  text-decoration: underline;
}
.similar__list-item-date {
  margin-top: 20px;
  font-size: 12px;
  color: #8b8b8b;
}
.similar__all {
  display: none;
}
.similar .toggle-list {
  display: block;
}
.similar__more {
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  padding: 15px 20px 14px;
}

.faq {
  padding: 56px 0 50px;
  text-align: center;
}
.faq .section-title {
  margin-bottom: 12px;
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.faq .section-subtitle {
  width: 63%;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin: 0 auto;
}
.faq__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.faq__list {
  width: 49.5%;
}
.faq__list-item {
  list-style: none;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #FFFFFF;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 4px 20px #F1F1F1;
  transition: box-shadow 0.2s linear;
}
.faq__list-item summary::-webkit-details-marker {
  display: none;
}
.faq__list-item > summary {
  list-style: none;
}
.faq__list-item[open] > summary:before {
  transform: rotate(180deg);
}
.faq__list-item-title {
  font-size: 16px;
  color: #050A0A;
  outline: none;
  position: relative;
  padding: 24px 60px 24px 30px;
}
.faq__list-item-title:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: 14px 9px;
  background-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: block;
  position: absolute;
  top: 45%;
  right: 28px;
}
.faq__list-item-text {
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  padding: 0 30px 30px;
}

@media screen and (max-width: 1200px) {
  .blog-page__header {
    padding: 0 15px 10px;
  }
  .blog-page__main {
    padding: 0 15px 60px;
  }
  .blog-page__main-left .blog-txt,
.blog-page__main-left .blog-list {
    font-size: 16px;
    line-height: 22px;
  }
  .blog-page__main-left .quote__text {
    font-size: 16px;
    line-height: 22px;
  }
  .blog-page__main-right .author__text {
    font-size: 16px;
    line-height: 22px;
  }
  .blog-page__main-right-subscribe .subscribe__title {
    font-size: 16px;
    line-height: 22px;
  }
  .blog-page .similar {
    padding: 80px 15px 74px;
  }
  .blog-page .faq {
    padding: 56px 15px 50px;
  }
}
@media screen and (max-width: 1023px) {
  .blog-page__main > .content-center {
    flex-direction: column;
  }
  .blog-page__main-left {
    width: 100%;
    margin-right: 0;
    order: 1;
  }
  .blog-page__main-left-title {
    font-size: 36px;
    line-height: 40px;
  }
  .blog-page__main-left-img {
    max-width: 738px;
  }
  .blog-page__main-left .top-casino__head {
    padding: 10px 0;
  }
  .blog-page__main-left .top-casino__list-item {
    padding: 25px 0;
  }
  .blog-page__main-right {
    width: 100%;
    margin-top: 40px;
    order: 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .blog-page__main-right-top5 {
    width: 60%;
  }
  .blog-page__main-right-wrap {
    width: 35%;
    margin-top: 0;
  }
  .blog-page__main-right-subscribe {
    margin-top: 20px;
    padding: 20px;
  }
  .blog-page__main-right-subscribe-img {
    width: 90px;
    height: 90px;
  }
  .blog-page__main-right-subscribe .subscribe__title {
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
  }
  .blog-page__main-right .author {
    padding: 20px;
  }
  .blog-page__main-right .author__text {
    font-size: 14px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
  }
  .blog-page__main .blog-pagi {
    order: 2;
    height: 100px;
    margin-top: 40px;
  }
  .blog-page__main .blog-pagi .content-center {
    margin: 0 -15px;
  }
  .blog-page__main .blog-pagi__prev {
    padding-left: 60px;
  }
  .blog-page__main .blog-pagi__next {
    padding-right: 60px;
  }
  .blog-page__main .blog-pagi__prev-title, .blog-page__main .blog-pagi__next-title {
    font-size: 12px;
  }
  .blog-page__main .blog-pagi__prev-link, .blog-page__main .blog-pagi__next-link {
    font-size: 18px;
    margin-top: 2px;
  }
  .blog-page .similar {
    padding: 50px 15px 60px;
  }
  .blog-page .similar__list-item-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
  .blog-page .similar__list-item-date {
    margin-top: 10px;
  }
  .blog-page .faq {
    padding: 56px 15px 60px;
  }
  .blog-page .faq__wrap {
    margin-top: 30px;
  }
  .blog-page .faq__list-item-title {
    padding: 16px 45px 13px 20px;
    font-size: 15px;
  }
  .blog-page .faq__list-item-title:before {
    right: 20px;
  }
  .blog-page .faq__list-item-text {
    padding: 0 20px 30px;
  }
}
@media screen and (max-width: 767px) {
  .blog-page__header .breadcrumbs {
    padding: 20px 0 10px;
  }
  .blog-page__main {
    padding: 0 15px 40px;
  }
  .blog-page__main-left-title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-page__main-left-img {
    width: 100%;
  }
  .blog-page__main-left-description {
    margin: 20px 0;
  }
  .blog-page__main-left .blog-txt,
.blog-page__main-left .blog-list {
    font-size: 14px;
    line-height: 20px;
  }
  .blog-page__main-left .blog-txt {
    margin-bottom: 20px;
  }
  .blog-page__main-left .blog-list {
    margin-left: 15px;
  }
  .blog-page__main-left .blog-txt-title {
    font-size: 20px;
    line-height: 25px;
  }
  .blog-page__main-left .quote {
    margin-top: 20px;
    padding: 30px 26px;
  }
  .blog-page__main-left .quote__text {
    font-size: 14px;
    line-height: 20px;
  }
  .blog-page__main-left .top-casino {
    margin: 20px 0 40px;
  }
  .blog-page__main-left .top-casino__head {
    display: none;
  }
  .blog-page__main-left .top-casino__list-item {
    padding: 16px 0;
  }
  .blog-page__main-left .top-casino__name {
    width: 160px;
    max-width: 160px;
  }
  .blog-page__main-left .top-casino__name-wrap {
    margin-left: 12px;
    max-width: 100px;
  }
  .blog-page__main-left .top-casino__name-img {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
  }
  .blog-page__main-left .top-casino__name-title {
    font-size: 14px;
  }
  .blog-page__main-left .top-casino__name-icons {
    margin-top: 2px;
  }
  .blog-page__main-left .top-casino__name-icons-country {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  .blog-page__main-left .top-casino__name-icons-rate {
    font-size: 12px;
  }
  .blog-page__main-left .top-casino__name-icons-rate:before {
    width: 11px;
    height: 11px;
    margin: 0 5px 0 0;
  }
  .blog-page__main-left .top-casino__bonus {
    width: 90px;
    max-width: 90px;
  }
  .blog-page__main-left .top-casino__bonus p {
    font-size: 14px;
  }
  .blog-page__main-left .top-casino__bonus p + p {
    font-size: 12px;
    margin-top: 4px;
  }
  .blog-page__main-left .top-casino__bonus-desk {
    display: none;
  }
  .blog-page__main-left .top-casino__bonus-mob {
    display: block;
  }
  .blog-page__main-left .top-casino__buttons-play {
    font-size: 12px;
    padding: 8px 10px 7px;
  }
  .blog-page__main-left .written {
    flex-wrap: wrap;
    border: 0;
    padding: 0;
    margin-top: 33px;
  }
  .blog-page__main-left .written__left {
    width: 100%;
  }
  .blog-page__main-left .written__right {
    margin: 20px 0 0 80px;
  }
  .blog-page__main-left .reactions__title {
    font-size: 16px;
    line-height: 22px;
  }
  .blog-page__main-left .reactions__list-item {
    flex-shrink: 0;
    margin-right: 18px;
  }
  .blog-page__main .blog-pagi {
    height: auto;
  }
  .blog-page__main .blog-pagi .content-center {
    margin: 0;
    justify-content: space-between;
  }
  .blog-page__main .blog-pagi__prev, .blog-page__main .blog-pagi__next {
    background: none;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    padding: 10px 20px 10px;
    width: 47%;
  }
  .blog-page__main .blog-pagi__prev-wrap:before, .blog-page__main .blog-pagi__next-wrap:before {
    background: #8b8b8b;
    top: 2px;
  }
  .blog-page__main .blog-pagi__prev-title, .blog-page__main .blog-pagi__next-title {
    color: #050A0A;
    font-size: 14px;
  }
  .blog-page__main .blog-pagi__prev-link, .blog-page__main .blog-pagi__next-link {
    display: none;
  }
  .blog-page__main .blog-pagi__prev {
    padding: 15px 20px 12px 40px;
  }
  .blog-page__main .blog-pagi__prev-wrap:before {
    left: -25px;
  }
  .blog-page__main .blog-pagi__next {
    padding: 15px 40px 12px 20px;
  }
  .blog-page__main .blog-pagi__next-wrap:before {
    right: -25px;
  }
  .blog-page__main-right {
    flex-direction: column;
  }
  .blog-page__main-right-top5 {
    width: 100%;
  }
  .blog-page__main-right-wrap {
    width: 100%;
    margin-top: 20px;
  }
  .blog-page__main-right .author__text {
    height: auto;
    overflow: visible;
  }
  .blog-page__main-right-subscribe .subscribe__title {
    font-size: 16px;
  }
  .blog-page .similar {
    padding: 40px 15px 50px;
  }
  .blog-page .similar__title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-page .similar__subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    margin-top: 10px;
  }
  .blog-page .similar__list {
    flex-wrap: wrap;
    margin: 26px -10px 0;
    justify-content: center;
  }
  .blog-page .similar__list-item {
    width: 45%;
    margin: 0 7px 22px;
  }
  .blog-page .similar__list-item:last-child {
    margin-right: 6px;
  }
  .blog-page .similar__more {
    margin-top: 10px;
  }
  .blog-page .faq {
    padding: 40px 15px 50px;
  }
  .blog-page .faq .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-page .faq .section-subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    margin-top: 10px;
  }
  .blog-page .faq__wrap {
    flex-direction: column;
  }
  .blog-page .faq__list {
    width: 100%;
  }
  .blog-page .faq__list-item {
    margin-right: 0;
  }
  .blog-page .faq__list-item-title {
    font-size: 14px;
    padding: 16px 50px 13px 20px;
  }
}
@media screen and (max-width: 374px) {
  .blog-page__main-left-title {
    font-size: 20px;
    line-height: 26px;
  }
  .blog-page__main-left .quote {
    padding: 20px;
  }
  .blog-page__main-left .top-casino__name {
    width: 130px;
    max-width: 130px;
  }
  .blog-page__main-left .top-casino__name-img {
    width: 30px;
    height: 30px;
  }
  .blog-page__main-left .top-casino__buttons-play span {
    display: none;
  }
  .blog-page__main-left .tags {
    align-items: flex-start;
    margin-top: 40px;
  }
  .blog-page__main-left .tags__list li {
    margin-bottom: 15px;
  }
  .blog-page__main-left .reactions {
    margin-top: 30px;
  }
  .blog-page__main-left .reactions__list {
    margin-top: 15px;
  }
  .blog-page__main-left .reactions__list-item {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
  .blog-page__main-left .reactions__list-item:before {
    width: 26px;
    height: 26px;
  }
  .blog-page__main-right-txt {
    font-size: 14px;
    line-height: 20px;
  }
  .blog-page__main .blog-pagi {
    margin-top: 20px;
  }
  .blog-page__main .blog-pagi__prev, .blog-page__main .blog-pagi__next {
    width: 49%;
  }
  .blog-page__main .blog-pagi__prev-wrap:before, .blog-page__main .blog-pagi__next-wrap:before {
    width: 6px;
    height: 9px;
  }
  .blog-page__main .blog-pagi__prev-title, .blog-page__main .blog-pagi__next-title {
    font-size: 12px;
  }
  .blog-page__main .blog-pagi__prev {
    padding: 15px 10px 12px 30px;
  }
  .blog-page__main .blog-pagi__prev-wrap:before {
    left: -17px;
  }
  .blog-page__main .blog-pagi__next {
    padding: 15px 30px 12px 10px;
  }
  .blog-page__main .blog-pagi__next-wrap:before {
    right: -17px;
  }
  .blog-page .similar__list-item-title {
    font-size: 14px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
