@media screen and (max-width: 1200px)
  .blog-page
    &__header
      padding: 0 15px 10px
    &__main
      padding: 0 15px 60px
      &-left
        .blog-txt,
        .blog-list
          font-size: 16px
          line-height: 22px
        .quote
          &__text
            font-size: 16px
            line-height: 22px
      &-right
        .author
          &__text
            font-size: 16px
            line-height: 22px
        &-subscribe
          .subscribe
            &__title
              font-size: 16px
              line-height: 22px
    .similar
      padding: 80px 15px 74px
    .faq
      padding: 56px 15px 50px

@media screen and (max-width: 1023px)
  .blog-page
    &__main
      >.content-center
        flex-direction: column
      &-left
        width: 100%
        margin-right: 0
        order: 1
        &-title
          font-size: 36px
          line-height: 40px
        &-img
          max-width: 738px
        .top-casino
          &__head
            padding: 10px 0
          &__list
            &-item
              padding: 25px 0
      &-right
        width: 100%
        margin-top: 40px
        order: 3
        display: flex
        align-items: flex-start
        justify-content: space-between
        &-top5
          width: 60%
        &-wrap
          width: 35%
          margin-top: 0
        &-subscribe
          margin-top: 20px
          padding: 20px
          &-img
            width: 90px
            height: 90px
          .subscribe
            &__title
              font-size: 14px
              line-height: 18px
              margin-top: 15px
        .author
          padding: 20px
          &__text
            font-size: 14px
            line-height: 20px
            height: 80px
            overflow: hidden
      .blog-pagi
        order: 2
        height: 100px
        margin-top: 40px
        .content-center
          margin: 0 -15px
        &__prev
          padding-left: 60px
        &__next
          padding-right: 60px
        &__prev,
        &__next
          &-title
            font-size: 12px
          &-link
            font-size: 18px
            margin-top: 2px
    .similar
      padding: 50px 15px 60px
      &__list
        &-item
          &-title
            font-size: 16px
            line-height: 20px
            margin-top: 10px
          &-date
            margin-top: 10px
    .faq
      padding: 56px 15px 60px
      &__wrap
        margin-top: 30px
      &__list
        &-item
          &-title
            padding: 16px 45px 13px 20px
            font-size: 15px
            &:before
              right: 20px
          &-text
            padding: 0 20px 30px

@media screen and (max-width: 767px)
  .blog-page
    &__header
      .breadcrumbs
        padding: 20px 0 10px
    &__main
      padding: 0 15px 40px
      &-left
        &-title
          font-size: 24px
          line-height: 32px
        &-img
          width: 100%
        &-description
          margin: 20px 0
        .blog-txt,
        .blog-list
          font-size: 14px
          line-height: 20px
        .blog-txt
          margin-bottom: 20px
        .blog-list
          margin-left: 15px
        .blog-txt-title
          font-size: 20px
          line-height: 25px
        .quote
          margin-top: 20px
          padding: 30px 26px
          &__text
            font-size: 14px
            line-height: 20px
        .top-casino
          margin: 20px 0 40px
          &__head
            display: none
          &__list
            &-item
              padding: 16px 0
          &__name
            width: 160px
            max-width: 160px
            &-wrap
              margin-left: 12px
              max-width: 100px
            &-img
              width: 38px
              height: 38px
              flex-shrink: 0
            &-title
              font-size: 14px
            &-icons
              margin-top: 2px
              &-country
                width: 16px
                height: 16px
                margin-right: 8px
              &-rate
                font-size: 12px
                &:before
                  width: 11px
                  height: 11px
                  margin: 0 5px 0 0
          &__bonus
            width: 90px
            max-width: 90px
            p
              font-size: 14px
            p+p
              font-size: 12px
              margin-top: 4px
            &-desk
              display: none
            &-mob
              display: block
          &__buttons
            &-play
              font-size: 12px
              padding: 8px 10px 7px
        .written
          flex-wrap: wrap
          border: 0
          padding: 0
          margin-top: 33px
          &__left
            width: 100%
          &__right
            margin: 20px 0 0 80px
        .reactions
          &__title
            font-size: 16px
            line-height: 22px
          &__list
            &-item
              flex-shrink: 0
              margin-right: 18px
      .blog-pagi
        height: auto
        .content-center
          margin: 0
          justify-content: space-between
        &__prev,
        &__next
          background: none
          border-radius: 4px
          border: 1px solid $gray-light
          padding: 10px 20px 10px
          width: 47%
          &-wrap
            &:before
              background: $gray-semi
              top: 2px
          &-title
            color: $dark
            font-size: 14px
          &-link
            display: none
        &__prev
          padding: 15px 20px 12px 40px
          &-wrap
            &:before
              left: -25px
        &__next
          padding: 15px 40px 12px 20px
          &-wrap
            &:before
              right: -25px
      &-right
        flex-direction: column
        &-top5
          width: 100%
        &-wrap
          width: 100%
          margin-top: 20px
        .author
          &__text
            height: auto
            overflow: visible
        &-subscribe
          .subscribe
            &__title
              font-size: 16px
    .similar
      padding: 40px 15px 50px
      &__title
        font-size: 24px
        line-height: 32px
      &__subtitle
        font-size: 14px
        line-height: 20px
        width: 100%
        margin-top: 10px
      &__list
        flex-wrap: wrap
        margin: 26px -10px 0
        justify-content: center
        &-item
          width: 45%
          margin: 0 7px 22px
          &:last-child
            margin-right: 6px
      &__more
        margin-top: 10px
    .faq
      padding: 40px 15px 50px
      .section-title
        font-size: 24px
        line-height: 32px
      .section-subtitle
        font-size: 14px
        line-height: 20px
        width: 100%
        margin-top: 10px
      &__wrap
        flex-direction: column
      &__list
        width: 100%
        &-item
          margin-right: 0
          &-title
            font-size: 14px
            padding: 16px 50px 13px 20px

@media screen and (max-width: 374px)
  .blog-page
    &__main
      &-left
        &-title
          font-size: 20px
          line-height: 26px
        .quote
          padding: 20px
        .top-casino
          &__name
            width: 130px
            max-width: 130px
            &-img
              width: 30px
              height: 30px
          &__buttons
            &-play
              span
                display: none
        .tags
          align-items: flex-start
          margin-top: 40px
          &__list
            li
              margin-bottom: 15px
        .reactions
          margin-top: 30px
          &__list
            margin-top: 15px
            &-item
              width: 44px
              height: 44px
              margin-right: 12px
              &:before
                width: 26px
                height: 26px
      &-right
        &-txt
          font-size: 14px
          line-height: 20px
      .blog-pagi
        margin-top: 20px
        &__prev,
        &__next
          width: 49%
          &-wrap
            &:before
              width: 6px
              height: 9px
          &-title
            font-size: 12px
        &__prev
          padding: 15px 10px 12px 30px
          &-wrap
            &:before
              left: -17px
        &__next
          padding: 15px 30px 12px 10px
          &-wrap
            &:before
              right: -17px
    .similar
      &__list
        &-item
          &-title
            font-size: 14px
            line-height: 18px