$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF
$yellow-bg: #fef3e2

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.breadcrumbs
  padding: 20px 0 23px
  li
    display: inline-block
    margin-right: 10px
    font-size: 12px
    color: $gray-semi
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      background: $gray-semi
      width: 15px
      height: 1px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 10px
    a
      color: $gray-semi
      &:hover
        text-decoration: underline

.article-info
  display: flex
  font-size: 14px
  color: $gray-semi
  .info-date,
  .info-read
    display: flex
    align-items: center
    margin-right: 8px
    &:after
      content: "●"
      font-size: 5px
      color: $gray-semi
      margin-left: 8px
      margin-top: -2px
  .info-tag
    background: $light
    padding: 6px 11px 4px
    border-radius: 30px
    color: $gray-semi
    &:hover
      background: darken($light,1%)

.blog-page
  &__header
    padding-bottom: 10px
    .page-title
      font-size: 44px
      line-height: 52px
      color: $dark
      font-family: $font-otomarine
    .page-subtitle
      font-family: $font-gilroy-regular
      font-size: 18px
      line-height: 26px
      color: $gray-semi
      margin-top: 10px
  &__main
    padding-bottom: 80px
    .content-center
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    &-left
      width: 745px
      margin-right: 49px
      &-title
        font-size: 40px
        line-height: 45px
        color: $dark
        font-family: $font-otomarine
      &-panel
        margin-top: 20px
        display: flex
        font-family: $font-gilroy-regular
        font-size: 14px
        color: $gray-semi
        .date
          margin-right: 10px
        .views
          &:before
            content: ""
            background: url("../img/view-icon.svg") no-repeat 0 0/contain
            width: 17px
            height: 13px
            display: inline-block
            vertical-align: top
            margin: 1px 6px 0 0
      &-img
        width: 100%
        border-radius: 6px
        overflow: hidden
        margin-top: 20px
      &-description
        font-family: $font-gilroy-regular
        font-size: 14px
        color: $gray-semi
        margin: 21px 0 50px
      .blog-txt
        font-family: $font-gilroy-regular
        font-size: 18px
        line-height: 30px
        color: $gray-semi
        margin-bottom: 30px
        span
          color: $green-default
      .blog-txt-title
        font-size: 28px
        line-height: 32px
        color: $dark
        margin-bottom: 12px
      .blog-list
        font-family: $font-gilroy-regular
        font-size: 18px
        line-height: 26px
        color: $gray-semi
        margin-left: 35px
        li
          list-style-type: disc
          margin-bottom: 12px
      .decimal
        li
          list-style-type: decimal
      .tags
        display: flex
        align-items: center
        margin-top: 70px
        &__title
          font-size: 16px
          color: $dark
          margin-right: 17px
        &__list
          display: flex
          flex-wrap: wrap
          &-item
            font-size: 14px
            background: $light
            padding: 6px 11px 4px
            border-radius: 30px
            color: $gray-semi
            margin-right: 10px
            &:hover
              background: darken($light,1%)
      .top-casino
        padding: 0
        margin: 30px 0 50px
        text-align: left
        &__head
          display: flex
          padding: 10px 0 10px 20px
          &-item
            font-family: $font-gilroy-semibold
            font-size: 12px
            color: $gray-semi
            text-transform: uppercase
            &:nth-child(1)
              width: 44%
            &:nth-child(2)
              width: auto
        &__list
          margin-top: 0
          padding: 0
          &-item
            border-bottom: 1px solid #ebebeb
            padding: 25px 0 25px 20px
            display: flex
            align-items: center
            justify-content: space-between
        &__name
          display: flex
          align-items: center
          width: 225px
          max-width: 260px
          &-img
            width: 60px
            height: 60px
            border-radius: 50%
            overflow: hidden
          &-wrap
            margin-left: 20px
          &-title
            font-size: 20px
            color: $dark
            letter-spacing: -0.02em
          &-icons
            margin-top: 5px
            display: flex
            align-items: center
            &-country
              width: 16px
              height: 16px
              border-radius: 50%
              margin-right: 16px
            .country-in
              background: url("../img/country-in.svg") no-repeat 0 0/contain
            .country-ua
              background: url("../img/country-ua.svg") no-repeat 0 0/contain
            .country-fr
              background: url("../img/country-fr.svg") no-repeat 0 0/contain
            .country-ge
              background: url("../img/country-gr.svg") no-repeat 0 0/contain
            &-rate
              font-size: 14px
              color: $gray-semi
              margin-top: 3px
              &:before
                content: ""
                mask-image: url("../img/star.svg")
                mask-repeat: no-repeat
                mask-size: contain
                background-color: #FFB933
                width: 16px
                height: 16px
                display: inline-block
                vertical-align: top
                margin: -1px 8px 0 0
            .no-rating
              &:before
                background-color: #BFBFBF
        &__bonus
          width: 214px
          p
            font-size: 18px
            color: $dark
          p+p
            font-size: 14px
            color: $gray-semi
            margin-top: 9px
          &-mob
            display: none
        .bonus-na
          .top-casino__bonus-desk
            p
              font-size: 18px
              line-height: 23px
              color: $gray-semi
            p+p
              display: none
          .top-casino__bonus-mob
            p
              font-size: 14px
              line-height: 18px
            p+p
              display: none
        &__buttons
          display: flex
          align-items: center
          font-size: 14px
          &-play
            padding: 12px 20px 11px
      .quote
        background: $light
        padding: 31px 31px 31px
        margin-top: 40px
        &__author
          display: flex
          align-items: center
          &-img
            width: 45px
            height: 45px
            border-radius: 50%
            overflow: hidden
          &-txt
            margin-left: 16px
            &-name
              font-size: 16px
              color: $dark
            &-sub
              font-size: 14px
              color: $gray-semi
              margin-top: 0
        &__text
          font-family: $font-gilroy-regular
          margin-top: 15px
          font-size: 18px
          line-height: 26px
          color: $dark
      &-how
        margin-top: 40px
      .written
        margin-top: 40px
        padding: 25px 0
        border-top: 1px solid #E9E9E9
        border-bottom: 1px solid #E9E9E9
        display: flex
        justify-content: space-between
        &__left
          width: 70%
          display: flex
        &__img
          width: 65px
          height: 65px
          border-radius: 50%
          overflow: hidden
          flex-shrink: 0
        &__txt
          margin-left: 15px
          &-title
            font-family: $font-gilroy-regular
            font-size: 14px
            color: $gray-semi
          &-name
            font-size: 16px
            color: $dark
            margin-top: 6px
          &-text
            font-family: $font-gilroy-regular
            font-size: 14px
            line-height: 20px
            color: $gray-semi
            margin-top: 6px
        &__btn
          padding: 14px 30px 12px
      .reactions
        margin-top: 50px
        &__title
          font-size: 18px
          color: $dark
        &__list
          margin-top: 27px
          display: flex
          &-item
            width: 54px
            height: 54px
            border-radius: 50%
            background: #F6F6F6
            border: 1px solid #F6F6F6
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            margin-right: 25px
            &:last-child
              margin-right: 0
            &:hover
              border-color: $green-default
            &:before
              content: ""
              width: 31px
              height: 31px
          .reaction-1
            &:before
              background: url("../img/reaction-1.png") no-repeat 0 0/contain
          .reaction-2
            &:before
              background: url("../img/reaction-2.png") no-repeat 0 0/contain
          .reaction-3
            &:before
              background: url("../img/reaction-3.png") no-repeat 0 0/contain
          .reaction-4
            &:before
              background: url("../img/reaction-4.png") no-repeat 0 0/contain
          .reaction-5
            &:before
              background: url("../img/reaction-5.png") no-repeat 0 0/contain
    &-right
      width: 32%
      margin-top: 4px
      &-title
        font-size: 18px
        color: $dark
      &-pagi
        margin-top: 30px
        display: flex
        border-bottom: 1px solid #E9E9E9
        .pagi-item
          font-size: 16px
          color: $gray-semi
          padding-bottom: 22px
          margin-right: 30px
          border-bottom: 2px solid transparent
          margin-bottom: -1px
          cursor: pointer
          &:hover
            border-color: $green-default
        .active
          border-color: $green-default
      &-item
        padding: 20px 0
        display: flex
        align-items: center
        border-bottom: 1px solid #E9E9E9
        &:last-child
          border-bottom: 0
      &-img
        width: 98px
        height: 59px
        flex-shrink: 0
        margin-right: 20px
        img
          width: 100%
          height: 100%
          object-fit: cover
      &-txt
        font-size: 16px
        line-height: 22px
        color: $dark
        &:hover
          text-decoration: underline
      &-wrap
        margin-top: 30px
      .author
        background: #F6F6F6
        padding: 30px
        border-radius: 2px
        &__wrap
          display: flex
          align-items: center
        &__img
          width: 45px
          height: 45px
          border-radius: 50%
          overflow: hidden
          margin-right: 16px
        &__info
          &-name
            font-size: 16px
            color: $dark
          &-txt
            margin-top: 3px
            font-size: 14px
            color: $gray-semi
        &__text
          margin-top: 17px
          font-family: $font-gilroy-regular
          font-size: 18px
          line-height: 26px
          color: $dark
        &__btn
          margin-top: 19px
          padding: 13px 30px 12px
      &-subscribe
        background: #F6F6F6
        padding: 30px
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 50px
        border-radius: 2px
        &-img
          width: 130px
          height: 130px
          border-radius: 50%
          overflow: hidden
        &-wrap
          text-align: center
        .subscribe
          background: transparent
          &__title
            font-size: 18px
            line-height: 26px
            color: $dark
            margin-top: 25px
            font-family: $font-gilroy-medium
          &__form
            margin-top: 14px
            input[type=email]
              width: 100%
              height: 44px
            .green-btn
              width: 100%
              margin-top: 12px
              font-size: 12px
              padding: 14px 53px 14px
              border: none
            .privacy
              font-size: 12px
              margin-top: 15px
              a
                color: $gray-semi
                text-decoration: underline
                &:hover
                  text-decoration: none

.blog-pagi
  margin: 80px 0 0
  width: 100%
  height: 150px
  .content-center
    display: flex
    height: 100%
  &__prev,
  &__next
    display: flex
    flex-direction: column
    justify-content: center
    background: $light
    width: 50%
    position: relative
    &:hover
      background: #F4F4F4
      .blog-pagi__prev-wrap,
      .blog-pagi__next-wrap
        &:before
          background-color: $dark
      .blog-pagi__prev-link,
      .blog-pagi__next-link
        color: $green-default
    &-wrap
      position: relative
      &:before
        content: ""
        mask-image: url("../img/arrow-right.svg")
        mask-repeat: no-repeat
        mask-size: contain
        width: 8px
        height: 12px
        background-color: #BFBFBF
        position: absolute
        top: 13px
    &-title
      font-size: 14px
      color: $gray-semi
    &-link
      font-size: 21px
      color: $dark
      margin-top: 5px
      display: inline-block
  &__prev
    padding-left: 131px
    &-wrap
      &:before
        left: -30px
        transform: rotate(180deg)
  &__next
    text-align: right
    padding-right: 131px
    &-wrap
      &:before
        right: -30px


.similar
  background: $light
  padding: 80px 0 74px
  text-align: center
  &__title
    font-family: $font-otomarine
    font-size: 40px
    line-height: 45px
    color: $dark
  &__subtitle
    margin: 15px auto 0
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    width: 60%
  &__list
    margin-top: 40px
    display: flex
    text-align: left
    &-item
      width: 24%
      margin-right: 20px
      &:nth-child(4n)
        margin-right: 0
      &-title
        margin-top: 20px
        font-size: 18px
        line-height: 26px
        color: $dark
        display: inline-block
        &:hover
          text-decoration: underline
      &-date
        margin-top: 20px
        font-size: 12px
        color: $gray-semi
  &__all
    display: none
  .toggle-list
    display: block
  &__more
    margin-top: 20px
    font-size: 14px
    cursor: pointer
    width: 100%
    padding: 15px 20px 14px

.faq
  padding: 56px 0 50px
  text-align: center
  .section-title
    margin-bottom: 12px
    font-size: 44px
    line-height: 52px
    color: $dark
    font-family: $font-otomarine
  .section-subtitle
    width: 63%
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    margin: 0 auto
  &__wrap
    display: flex
    justify-content: space-between
    margin-top: 40px
  &__list
    width: 49.5%
    &-item
      list-style: none
      border-radius: 3px
      margin-bottom: 10px
      background: $white
      text-align: left
      cursor: pointer
      box-shadow: 0 4px 20px #F1F1F1
      transition: box-shadow .2s linear
      summary::-webkit-details-marker
        display: none
      > summary
        list-style: none
      &[open]
        > summary:before
          transform: rotate(180deg)
      &-title
        font-size: 16px
        color: $dark
        outline: none
        position: relative
        padding: 24px 60px 24px 30px
        &:before
          content: ""
          mask-image: url("../img/arrow-down.svg")
          mask-size: 14px 9px
          background-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: block
          position: absolute
          top: 45%
          right: 28px
      &-text
        font-size: 14px
        line-height: 20px
        color: $gray-semi
        padding: 0 30px 30px