.blog-page
  .blog-page__header
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li Blog
  .blog-page__main
    .content-center
      .blog-page__main-left
        .blog-page__main-left-title.
          This Long-Awaited Technology May Finally Change the World
        .blog-page__main-left-panel
          .date 26.07.2021
          .views 5669
        .blog-page__main-left-img
          img(src="img/blog_main.jpg" alt="")
        .blog-page__main-left-description.
          Photo: The Daily Mail | Kitty's fiance is five
          years older than her father
        .blog-page__main-left-txt.blog-txt.
          #[span SlotWolf] Casino have just launched a brand new promotion
          where you can get your hands on some cold hard cash. In
          fact, the #[span online casino] has decided to pull out all the
          stops and they’ll be handing out a whopping 20,000 € and
          there is even 20,000 in extra spins too.
        .blog-page__main-left-txt.blog-txt.
          However, new generations have started changing the face of
          gambling, slots in particular. Moving away from luck as a
          deciding factor of their wins, these generations have
          started asking for games that put their skills, reasoning,
          and capacities to test while still being fun — and that's
          how skill-based slots arouse.
        .blog-page__main-left-quote
          .blog-txt-title Bag Yourself a Share
          .blog-txt.
            #[span SlotWolf] Casino have just launched a brand new promotion
            where you can get your hands on some cold hard cash. In
            fact, the #[span online casino] has decided to pull out all the
            stops and they’ll be handing out a whopping 20,000 € and
            there is even 20,000 in extra spins too.
          .quote
            .quote__author
              .quote__author-img
                img(src="img/author.png" alt="")
              .quote__author-txt
                a(href="#" target="_blank").quote__author-txt-name Ivan Gucev
                .quote__author-txt-sub Author Blog
            .quote__text.
              Earn a lottery ticket at SlotWolf Casino for a guaranteed chance
              to win a share of their double prize pots.
        .blog-page__main-left-how
          .blog-txt-title How Slot Machine Skill Games Work?
          .blog-txt.
            Say you are playing a slot with a racing theme this is
            how you would go about it:
          ul.blog-list.decimal
            li When the bonus room is triggered, you choose the skill-based bonus
            li You race against other cars
            li The size of your payout gets determined by your finish
          .top-casino
            .top-casino__head
              .top-casino__head-item casino name
              .top-casino__head-item Bonus
            ul.top-casino__list
              li.top-casino__list-item
                .top-casino__name
                  .top-casino__name-img
                    img(src="img/top-casino-5.png" alt="")
                  .top-casino__name-wrap
                    .top-casino__name-title Bit Starz Casino
                    .top-casino__name-icons
                      .top-casino__name-icons-country.country-ua
                      .top-casino__name-icons-rate 9.25 / 10
                .top-casino__bonus
                  .top-casino__bonus-desk
                    p $ 4000 + 200 Free Spins
                    p With 200 free spins
                  .top-casino__bonus-mob
                    p $4000
                    p 200 free spins
                .top-casino__buttons
                  a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play #[span now]
              li.top-casino__list-item
                .top-casino__name
                  .top-casino__name-img
                    img(src="img/top-casino-1.png" alt="")
                  .top-casino__name-wrap
                    .top-casino__name-title Bao Casino
                    .top-casino__name-icons
                      .top-casino__name-icons-country.country-ua
                      .top-casino__name-icons-rate 9.25 / 10
                .top-casino__bonus
                  .top-casino__bonus-desk
                    p $ 4000 + 200 Free Spins
                    p With 200 free spins
                  .top-casino__bonus-mob
                    p $4000
                    p 200 free spins
                .top-casino__buttons
                  a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play #[span now]
        .blog-page__main-left-txt.blog-txt.
          #[span SlotWolf] Casino have just launched a brand new promotion
          where you can get your hands on some cold hard cash. In
          fact, the #[span online casino] has decided to pull out all the
          stops and they’ll be handing out a whopping 20,000 € and
          there is even 20,000 in extra spins too.
        .blog-page__main-left-txt.blog-txt.
          However, new generations have started changing the face of
          gambling, slots in particular. Moving away from luck as a
          deciding factor of their wins, these generations have
          started asking for games that put their skills, reasoning,
          and capacities to test while still being fun — and that's
          how skill-based slots arouse.
        ul.blog-list
          li A hypothetically unlockable bonus session
          li A tic-tac-toe-style puzzle
          li A "follow me" coloured dot-matching second phase of gameplay
        .blog-page__main-left-tags.tags
          .tags__title Tags:
          ul.tags__list
            li
              a(href="#").tags__list-item News
            li
              a(href="#").tags__list-item Technology
            li
              a(href="#").tags__list-item Casino
        .blog-page__main-left-written.written
          .written__left
            .written__img
              img(src="img/written.png" alt="")
            .written__txt
              .written__txt-title Written by
              .written__txt-name Ivan Guseev
              .written__txt-text.
                Authorized testing of related materials, site-based
                content, is also a source of content.
          .written__right
            a(href="#" target="_blank").written__btn.btn.green-btn About author
        .blog-page__main-left-reactions.reactions
          .reactions__title Would you like to know more about the best materials in your blog?
          .reactions__list
            .reactions__list-item.reaction-1
            .reactions__list-item.reaction-2
            .reactions__list-item.reaction-3
            .reactions__list-item.reaction-4
            .reactions__list-item.reaction-5
      .blog-page__main-right
        .blog-page__main-right-top5
          .blog-page__main-right-title Top 5 Best
          .blog-page__main-right-pagi
            .pagi-item.active News
            .pagi-item Articles
          ul.blog-page__main-right-list
            li.blog-page__main-right-item
              .blog-page__main-right-img
                img(src="img/blog_top-1.jpg" alt="")
              a(href="#" target="_blank").blog-page__main-right-txt.
                Major casino resort in Athens to be ready by 2026
            li.blog-page__main-right-item
              .blog-page__main-right-img
                img(src="img/blog_top-2.jpg" alt="")
              a(href="#" target="_blank").blog-page__main-right-txt.
                Major casino resort in Athens to be ready by 2026
            li.blog-page__main-right-item
              .blog-page__main-right-img
                img(src="img/blog_top-3.jpg" alt="")
              a(href="#" target="_blank").blog-page__main-right-txt.
                Major casino resort in Athens to be ready by 2026
            li.blog-page__main-right-item
              .blog-page__main-right-img
                img(src="img/blog_top-4.jpg" alt="")
              a(href="#" target="_blank").blog-page__main-right-txt.
                Major casino resort in Athens to be ready by 2026
            li.blog-page__main-right-item
              .blog-page__main-right-img
                img(src="img/blog_top-5.jpg" alt="")
              a(href="#" target="_blank").blog-page__main-right-txt.
                Major casino resort in Athens to be ready by 2026
        .blog-page__main-right-wrap
          .blog-page__main-right-author.author
            .author__wrap
              .author__img
                img(src="img/author.png" alt="")
              .author__info
                .author__info-name Ivan Gucev
                .author__info-txt Autor Blog
            .author__text.
              Earn a lottery ticket at SlotWolf Casino for a
              guaranteed chance to win a share of their
              double prize pots.
            a(href="#" target="_blank").btn.green-btn.author__btn About Author
          .blog-page__main-right-subscribe
            .blog-page__main-right-subscribe-img
              img(src="img/article-subscribe.png" alt="")
            .blog-page__main-right-subscribe-wrap.subscribe
              .subscribe__title.
                The best news and articles, once a week,
                delivered to the post office
              form(action="#").subscribe__form.form-subscribe
                input(type="email" placeholder="Enter your email")
                button(type="submit").btn.green-btn Subscribe
                span.privacy.
                  By subscribing you are certifying that you have
                  reviewed and accepted our updated #[a(href="#") Privacy]
                  and #[a(href="#") Cookie Policy]
      .blog-pagi
        .content-center
          .blog-pagi__prev
            a(href="#" target="_blank").link
            .blog-pagi__prev-wrap
              .blog-pagi__prev-title Preview Article
              .blog-pagi__prev-link Bingo Games 20 Bonus Spins
          .blog-pagi__next
            a(href="#" target="_blank").link
            .blog-pagi__next-wrap
              .blog-pagi__prev-title Next Article
              .blog-pagi__prev-link Mansion Games Casino
  .similar
    .content-center
      .similar__title Similar Articles
      .similar__subtitle.
        The best new casinos added to our list, including detailed
        casino reviews and rankings, bonuses, promotions.
      ul.similar__list
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-1.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-2.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-3.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
        li.similar__list-item
          .similar__list-item-img
            img(src="img/blog_popular-4.jpg" alt="")
          a(href="#" target="_blank").similar__list-item-title.
            Rough Guide to History of Gambling: From Ancient
          .similar__list-item-date 20 July 2020
      .similar__all
        ul.similar__list
          li.similar__list-item
            .similar__list-item-img
              img(src="img/blog_popular-1.jpg" alt="")
            a(href="#" target="_blank").similar__list-item-title.
              Rough Guide to History of Gambling: From Ancient
            .similar__list-item-date 20 July 2020
          li.similar__list-item
            .similar__list-item-img
              img(src="img/blog_popular-2.jpg" alt="")
            a(href="#" target="_blank").similar__list-item-title.
              Rough Guide to History of Gambling: From Ancient
            .similar__list-item-date 20 July 2020
          li.similar__list-item
            .similar__list-item-img
              img(src="img/blog_popular-3.jpg" alt="")
            a(href="#" target="_blank").similar__list-item-title.
              Rough Guide to History of Gambling: From Ancient
      .similar__more.btn.green-btn Show More (#[span 14])
  .faq
    .content-center
      h2.section-title FAQ
      p.section-subtitle.
        The best new casinos added to our listing, including detailed
        casino reviews and ratings, bonuses, promotions.
      .faq__wrap
        .faq__list
          details.faq__list-item.box-shadow
            summary.faq__list-item-title What age do you need to be to gamble online?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item.box-shadow
            summary.faq__list-item-title What kinds of games are available?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item.box-shadow
            summary.faq__list-item-title.
              How do I know if I'm addicted to gambling?
            p.faq__list-item-text.
              Test text
          details.faq__list-item.box-shadow
            summary.faq__list-item-title.
              What age do you need to be to gamble online?
            p.faq__list-item-text.
              Test text
          details.faq__list-item.box-shadow
            summary.faq__list-item-title.
              What age do you need to be to gamble online?
            p.faq__list-item-text.
              Test text
        .faq__list
          details.faq__list-item.box-shadow
            summary.faq__list-item-title What age do you need to be to gamble online?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item.box-shadow
            summary.faq__list-item-title What kinds of games are available?
            p.faq__list-item-text.
              There are some warning signs if you're concerned that you or
              someone you know may have a gambling addiction. If you're hiding
              your habit from other people, maxing out your bank account and
              getting into debt as a result of your real money gambling the
              chances are you may be addicted. Likewise, if you're bunking off
              work to gamble, sneaking around to gamble, and thinking about real
              money gaming 24/7 the likelihood is your hobby has turned into a
              habit and you should seek help.
          details.faq__list-item.box-shadow
            summary.faq__list-item-title.
              How do I know if I'm addicted to gambling?
            p.faq__list-item-text.
              Test text
          details.faq__list-item.box-shadow
            summary.faq__list-item-title.
              What age do you need to be to gamble online?
            p.faq__list-item-text.
              Test text
          details.faq__list-item.box-shadow
            summary.faq__list-item-title.
              What age do you need to be to gamble online?
            p.faq__list-item-text.
              Test text